.sidebar{
    flex:3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top:50px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;

}
::-webkit-scrollbar-thumb{
    background-color: rgb(192, 188, 188);
    border-radius: 10px;
}
.sidebarWrapper{
    padding: 15px;
}
.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.sidebarListIcon{
    margin-right: 15px;
}
.sidebarButton{
    width: 130px;
    border-radius: 25px;
    border: none;
    padding: 15px;
    font-weight: 500;
    cursor: pointer;
}
.sidebarHr{
    margin:20px 0px;
}
.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}